.callout {
	position: fixed;
	bottom: 35px;
	left: 20px;
	max-width: 200px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
}

.callout-header {
	padding: 15px 15px;
}

.profpic {
	background: #000000;
	opacity: 0.2;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.callout-container {
	text-align: center;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	margin: auto;
	color: black;
}

.closebtn {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 30px;
	cursor: pointer;
}

.closebtn:hover {
	color: lightgrey;
}

.name {
	font-size: 20px;
}

.title {
	font-size: 13px;
	padding: 3px 3px 15px;
}

.socials-container {
	display: flex;
	justify-content: space-between;
}

.socials1 {
	font-size: 30px;
	color: gray;
	display: inline-block
}
.socials2 {
	font-size: 30px;
	color: gray;
	display: inline-block
}
.socials1:hover {
	color: lightgray;
	cursor: pointer;
	display: inline-block
}
.socials2:hover {
	color: lightgray;
	cursor: pointer;
	display: inline-block
}
